<div class="bottom_box">
    <div class="min_width">
        <div class="copyright">Copyright {$smarty.now|date_format:"%Y"} Yannyo Inc., </div>
        <div class="menu"><span id="lang_box"></span> <span>&nbsp;<a href="#">{$Lang.Blog}</a> | <a href="#">{$Lang.Teams}</a> | <a href="#">{$Lang.Privacy}</a> | <a href="#">{$Lang.ContactUs}</a></span></div>
    </div>
</div>
<div style="display:none">
<script type="text/javascript" src="http://tajs.qq.com/stats?sId=21568642" charset="UTF-8"></script>
</div>