<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="shortcut icon" href="favicon.ico" />
<link href="{$__ROOT__}/templates/image/style.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" media="all" href="{$__ROOT__}/public/js/jquery.alerts.css" />
<script type="text/javascript" src="{$__ROOT__}/public/js/jquery.min.js"></script>
<script type="text/javascript" src="{$__ROOT__}/public/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="{$__ROOT__}/public/js/jquery.sprintf.js"></script>
<script type="text/javascript" src="{$__ROOT__}/public/js/jquery.idrop.js"></script>
<script type="text/javascript" src="{$__ROOT__}/public/js/jquery.validate.js"></script>
<script type="text/javascript" src="{$__ROOT__}/public/js/jquery.form.js"></script>

<script type="text/javascript" src="{$__ROOT__}/public/js/fancybox/jquery.mousewheel-3.0.4.pack.js"></script>
<script type="text/javascript" src="{$__ROOT__}/public/js/fancybox/jquery.fancybox-1.3.4.js"></script>
<link rel="stylesheet" type="text/css" href="{$__ROOT__}/public/js/fancybox/jquery.fancybox-1.3.4.css"/>

<script type="text/javascript" src="{$__ROOT__}/public/js/jquery.alerts.js"></script>
<script type="text/javascript" src="{$__ROOT__}/public/js/comm.js"></script>
<script type="text/javascript">
var pop_txt = {$pop_lang};
var lang = '{$ThisLang}';
</script>

<meta property="qc:admins" content="1700603126642776526375" />
<script src="http://l.tbcdn.cn/apps/top/x/sdk.js?appkey=21403279"></script>

<meta name="description" content="Big Data,mongoDB,App,Baas,Json,URL Shortener" />
<meta name="keywords" content="Big Data,mongoDB,App,Baas,Json,URL Shortener" />				

<title>{$title} {$Lang.SysTitle}</title>

</head>

<body>