<div class="top_box">
    <div class="min_width">
        <div class="logo"></div>
        <div class="menu">
            <ul>
                <li><a href="#">{$Lang.Apps}</a></li>
                <li><a href="http://dev.dbowner.com/">{$Lang.Develop}</a></li>
                <li><a href="http://wiki.dbowner.com/">{$Lang.Support}</a></li>
                <li><a href="#">{$Lang.About}</a></li>
            </ul>
        </div>
        <div class="r_menu">
			<script type="text/javascript" language="javascript" src="http://auth.dbowner.com/provitejs/userbox?lang={$ThisLang}" ></script>
            <!--
			<ul>
                <li><a href="#">{$Lang.Login}</a></li>
                <li><a href="#">{$Lang.Register}</a></li>
            </ul>
			-->
        </div>
    </div>
</div>